<div class="card">
    <div class="card-header">
        <h3>Listado Cliente</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Usuario Creacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cli of clientes">
                    <td>{{cli.carg_Id}}</td>
                    <td>{{cli.carg_Descripcion}}</td>
                    <td>{{cli.carg_UsuCreacion}}</td>
                    <td>
                        <button (click)="Editar(cli)"  class="btn btn-primary">Editar</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>