
<app-breadcrumb [title]="'Update Roles'" [items]="['Flet']" [active_item]="'Items'"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h3>Nuevo Rol</h3>
        </div>
      </div>
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <div class="row">
            <div class="col-sm-12">
              <input placeholder="Nombre rol" [(ngModel)]="updateRol.role_Nombre" class="form-control" id="validationCustom01" type="text" required >
            </div>
            
            <div class="col-sm-12 mt-3">
              <dual-list [source]="dropdownList" [(destination)]="selectedItems" [format]="format" display="pant_Nombre" key="pant_Id"></dual-list>
          </div>
         
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <button (click)="Update()" class="btn btn-primary">Actualizar</button>
          </div>
          <div class="col-sm-6">
            <button type="button" (click)="Index()" class="btn btn-primary">Volver</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 
