<div class="container">
  <app-breadcrumb [title]="'Fletes listado'" [items]="['Flet']" [active_item]="'Fletes'"></app-breadcrumb>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="text-center">
            <h3>Listado de fletes</h3>
          </div>
        </div>
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Pendientes</a>
              <ng-template ngbNavContent>
                <!-- app.component.html -->

                <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                  <table>
                    <thead>
                      <tr>
                        <td>Elementos:</td>
                        <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                            [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                      <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                        placeholder="Buscar..." />
                    </div>
                  </div>
                </div>

                <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs" [pagination]="true"
                  [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
                  [rowData]="fletesPendiente" [rowSelection]="'multiple'" [domLayout]="domLayout"
                  [animateRows]="true"></ag-grid-angular>
                <!-- (cellClicked)="onCellClicked($event)" -->

              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>En proceso</a>
              <ng-template ngbNavContent>

                <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                  <table>
                    <thead>
                      <tr>
                        <td>Elementos:</td>
                        <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                            [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                      <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                        placeholder="Buscar..." />
                    </div>
                  </div>
                </div>

                <ag-grid-angular style="width: 100%; height: 500px; border-radius: 15px;" class="ag-theme-alpine"
                  [columnDefs]="columnDefsEnProceso" [pagination]="true" [paginationPageSize]="paginationPageSize"
                  [defaultColDef]="defaultColDef" [localeText]="idioma" [rowData]="fletesEnProceso"
                  [domLayout]="domLayout" [rowSelection]="'multiple'" [animateRows]="true"></ag-grid-angular>
                 
                <!-- (cellClicked)="onCellClicked($event)" -->

              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Terminados</a>
              <ng-template ngbNavContent>

                <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                  <table>
                    <thead>
                      <tr>
                        <td>Elementos:</td>
                        <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                            [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                      <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                        placeholder="Buscar..." />
                    </div>
                  </div>
                </div>

                <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-alpine"
                  [columnDefs]="columnDefsTerminado" [pagination]="true" [paginationPageSize]="paginationPageSize"
                  [defaultColDef]="defaultColDef" [localeText]="idioma" [rowData]="fletesTerminado"
                  [domLayout]="domLayout" [rowSelection]="'multiple'" [animateRows]="true"></ag-grid-angular>
                <!-- (cellClicked)="onCellClicked($event)" -->

              </ng-template>
            </li>
            <li [ngbNavItem]="4" style="margin-left: auto;">
              <button class="btn btn-success" style="width: 100%;" type="button" (click)="redirectToCreate()">Crear un
                flete</button>
              <ng-template ngbNavContent>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-body text-center">
      <h4 class="modal-title" id="modal-basic-title">Empezar flete</h4>
      <hr>
      <img src="../../../../../assets/images/Camioncito.jpg" style="width: 100%;" alt="">
      <h6>¿Es esto lo que deseas?</h6>
    </div>
    <div class="modal-footer text-center d-flex justify-content-center">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="printFechas()">Save</button> -->
      <button class="btn btn-dark" (click)="modal.dismiss('Cross click')" type="button">No</button>
      <button class="btn btn-primary" (click)="printFechas()" type="button" >Si</button>
    </div>
</ng-template>