<div class="container">
  <app-breadcrumb [title]="'Mis Fletes'" [items]="['Fletes']" [active_item]="'Mis Fletes'"></app-breadcrumb>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card card-border">
          <img class="card-img-top" 
          style="border-top-left-radius: 14px; border-top-right-radius: 14px; border-bottom: 1px solid black;"
          src="../../../../assets//images/equipo/headers/MisFletes.png" alt="Card image cap">

          <div class="card-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Pendientes</a>
                <ng-template ngbNavContent>
                  <!-- app.component.html -->

                  <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                    <div class="col-3">
                      <div class="input-group">
                        <table class="form-control d-flex justify-content-center">
                          <thead>
                            <tr>
                              <td>Mostrar</td>
                              <td>
                                <select class="selectPhynomo" name="pageSize" [(ngModel)]="paginationPageSize">
                                  <option [ngValue]="5">5</option>
                                  <option [ngValue]="10">10</option>
                                  <option [ngValue]="25">25</option>
                                  <option [ngValue]="50">50</option>
                                </select>
                              </td>
                              <td>elementos</td>
                            </tr>
                          </thead>
                        </table>
                        <span class="input-group-text"><i style="color: #3c334d; " class="fa fa-list-ol"></i></span>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-group">
                        <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                        <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                          placeholder="Buscar..." />
                      </div>
                    </div>
                  </div>

                  <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs" [pagination]="true"
                    [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
                    [rowData]="fletesPendiente" [rowSelection]="'multiple'" [domLayout]="domLayout"
                    [animateRows]="true"></ag-grid-angular>
                  <!-- (cellClicked)="onCellClicked($event)" -->

                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>En proceso</a>
                <ng-template ngbNavContent>

                  <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                    <div class="col-3">
                      <div class="input-group">
                        <table class="form-control d-flex justify-content-center">
                          <thead>
                            <tr>
                              <td>Mostrar</td>
                              <td>
                                <select class="selectPhynomo" name="pageSize" [(ngModel)]="paginationPageSize">
                                  <option [ngValue]="5">5</option>
                                  <option [ngValue]="10">10</option>
                                  <option [ngValue]="25">25</option>
                                  <option [ngValue]="50">50</option>
                                </select>
                              </td>
                              <td>elementos</td>
                            </tr>
                          </thead>
                        </table>
                        <span class="input-group-text"><i style="color: #3c334d; " class="fa fa-list-ol"></i></span>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-group">
                        <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                        <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                          placeholder="Buscar..." />
                      </div>
                    </div>
                  </div>

                  <ag-grid-angular style="width: 100%; height: 500px; border-radius: 15px;" class="ag-theme-alpine"
                    [columnDefs]="columnDefsEnProceso" [pagination]="true" [paginationPageSize]="paginationPageSize"
                    [defaultColDef]="defaultColDef" [localeText]="idioma" [rowData]="fletesEnProceso"
                    [domLayout]="domLayout" [rowSelection]="'multiple'" [animateRows]="true"></ag-grid-angular>

                  <!-- (cellClicked)="onCellClicked($event)" -->

                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Terminados</a>
                <ng-template ngbNavContent>

                  <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                    <div class="col-3">
                      <div class="input-group">
                        <table class="form-control d-flex justify-content-center">
                          <thead>
                            <tr>
                              <td>Mostrar</td>
                              <td>
                                <select class="selectPhynomo" name="pageSize" [(ngModel)]="paginationPageSize">
                                  <option [ngValue]="5">5</option>
                                  <option [ngValue]="10">10</option>
                                  <option [ngValue]="25">25</option>
                                  <option [ngValue]="50">50</option>
                                </select>
                              </td>
                              <td>elementos</td>
                            </tr>
                          </thead>
                        </table>
                        <span class="input-group-text"><i style="color: #3c334d; " class="fa fa-list-ol"></i></span>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-group">
                        <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                        <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                          placeholder="Buscar..." />
                      </div>
                    </div>
                  </div>

                  <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-alpine"
                    [columnDefs]="columnDefsTerminado" [pagination]="true" [paginationPageSize]="paginationPageSize"
                    [defaultColDef]="defaultColDef" [localeText]="idioma" [rowData]="fletesTerminado"
                    [domLayout]="domLayout" [rowSelection]="'multiple'" [animateRows]="true"></ag-grid-angular>
                  <!-- (cellClicked)="onCellClicked($event)" -->

                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-body">
      <h4 class="modal-title text-center" id="modal-basic-title">Empezar flete</h4>
      <hr>
      <div class="row">
        <div class="col">
          <img src="../../../../../assets/images/Camioncito.jpg" style="width: 100%;" alt="">
        </div>
        <div class="col px-3 d-flex align-items-center">
          <div class="px-3" style="text-align: justify;">
            <h5>Iniciemos con la mejor entrega de todas</h5>
            <h6 class="mt-1">Recuerda siempre brindar el mejor servicio de todos para demostar la calidad y
              profecionalismo de la empresa</h6>
            <button class="btn btn-dark mt-2 " (click)="modal.dismiss('Cross click')" type="button">Cancelar</button>
            <button class="btn btn-primary mt-2 mx-2" (click)="Empezar()" type="button">Iniciar</button>
          </div>
        </div>
      </div>

    </div>
  </ng-template>