
<app-breadcrumb [title]="'Items listado'" [items]="['Flet']" [active_item]="'Items'"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h3>Listado de Municipios</h3>
        </div>
      </div>
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <ng-template #Create let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Insertar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                <ng-select [(ngModel)]="municipiosCreate.depa_Id" class="form-control" bindValue="value" [items]="departamentosDDL" placeholder="Departamento"></ng-select>
              </div>
                <div class="col-sm-6">
              <input [(ngModel)]="municipiosCreate.muni_Nombre" class="form-control" id="validationCustom01" type="text" required=""  />
            </div>
            </div>
            
              <div class="col-sm-6 ">
                <div class="input-group">
                <span class="input-group-text text-dark">{{ municipiosCreate.depa_Id ? municipiosCreate.depa_Id : '00' }}</span>  
                <input type="text" [(ngModel)]="municipiosCreate.muni_Id" class="form-control" (keydown)="onKeyDown($event)" required="" (paste)="onPaste($event)" maxlength="2">
              </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="Guardar()">Crear</button>
            </div>  
          </form>
          </ng-template>
          
        </form>
          <ng-template #Update let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Actualizar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <label class="form-label" for="validationCustom01">Municipios</label>
              <div class="row">
                <div class="col-sm-6">
                  <input [disabled]="" [(ngModel)]="municipiosEditar.depa_Id" class="form-control" id="validationCustom01" type="text" required="" disabled />
                
              </div>
                <div class="col-sm-6">
              <input [(ngModel)]="municipiosEditar.muni_Nombre" class="form-control" id="validationCustom01" type="text" required=""  />
            </div>
              <div class="col-sm-6">
              <input [disabled]="" [(ngModel)]="municipiosEditar.muni_Id" class="form-control" id="validationCustom01" type="text" required="" disabled />
            </div>
          </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="update()">Actualizar</button>
            </div>
          </ng-template>

          <ng-template #Delete let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Eliminar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <h3>Desea Eliminar Este Registro?</h3>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="delete()">Eliminar</button>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-outline-primary" (click)="open(Create)">Crear Municipios</button><div class="container">   
          <hr>
        <div class="d-flex justify-content-between mb-2 mx-1">
          <select class="form-select" style="color: #3c334d; width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="5">5 </option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
          <div class="col-4">
            <div class="input-group">
              <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
              <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange(searchText)" placeholder="Buscar..." />
            </div>
          </div>
        </div>
          
        <div class="row mt-3">
          <div class="col-12">
            <div class="custom-datatable noscroll">
              <div class="custom-datatable table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" sortable="muni_Id" (sort)="onSort($event)">Id</th>
                      <th scope="col" sortable="muni_Nombre" (sort)="onSort($event)">Nombre</th>
                      <th scope="col" sortable="depa_Nombre" (sort)="onSort($event)">Departamento</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableItem$ | async">
                        <td>
                        <ngb-highlight [result]="item.muni_Id" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.muni_Nombre" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.depa_Nombre" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <div class="action">
                          <li class="edit" (click)="Actualizar(item, Update)">
                            <a ><i class="icon-pencil-alt"></i></a>
                          </li>
                          <li class="delete" (click)="Eliminar(item, Delete)">
                            <a ><i class="icon-trash"></i></a>
                          </li>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between mt-3 mb-2 mx-1">
                  <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                  </select>
                  <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      
      </div>
    </div>
  </div>
</div>
</div>
