
<div class="container">
<app-breadcrumb [title]="'Municipio listado'" [items]="['Flet']" [active_item]="'Items'"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h3>Listado de Municipios</h3>
        </div>
      </div>
      <div class="card-body">
          <ng-template #Create let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Insertar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
           
            <div class="modal-body">
               <form [formGroup]="createFormGroup"  class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
              <div class="row">
                <div class="col-sm-6">
                  <label>Departamento</label>
                <ng-select [(ngModel)]="municipiosCreate.depa_Id"  formControlName="depa_Id"  bindValue="value" [items]="departamentosDDL" placeholder="Departamento"></ng-select>
                <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('depa_Id').hasError('required') && (updateFormGroup.get('depa_Id').touched || sumbit)">
                <p class="text-danger">El Departamento es necesario </p></ng-container>
              </div>
                <div class="col-sm-6">
                  <label>Nombre Municipio</label>
              <input [(ngModel)]="municipiosCreate.muni_Nombre" class="form-control" formControlName="muni_Nombre"  type="text" required=""  />
              <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('muni_Nombre').hasError('required') && (updateFormGroup.get('muni_Nombre').touched || sumbit)">
                <p class="text-danger">El nombre del municipio es necesario</p></ng-container>
            </div>
              <div class="col-sm-6 mt-3">
                <label>Codigo Municipio</label>
                <div class="input-group">
                <span class="input-group-text text-dark">{{ municipiosCreate.depa_Id ? municipiosCreate.depa_Id : '00' }}</span>  
                <input type="text" [(ngModel)]="municipiosCreate.muni_Id" formControlName="muni_Id"  class="form-control" (keydown)="onKeyDown($event)" required="" (paste)="onPaste($event)" maxlength="2">
              </div>
              <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('muni_Id').hasError('required') && (updateFormGroup.get('muni_Id').touched || sumbit)">
                <p class="text-danger">El codigo del municipio es necesario</p></ng-container>
              </div>
            </div>
            </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="Guardar()">Crear</button>
            </div>  
          </ng-template>
          
          <ng-template #Update let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Actualizar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <label class="form-label" for="validationCustom01">Municipios</label>
              <div class="row">
                <div class="col-sm-6">
                  <input [disabled]="" [(ngModel)]="municipiosEditar.depa_Id" class="form-control"  type="text" required="" disabled />
                
              </div>
                <div class="col-sm-6">
              <input [(ngModel)]="municipiosEditar.muni_Nombre" class="form-control"  type="text" required=""  />
            </div>
              <div class="col-sm-6">
              <input [disabled]="" [(ngModel)]="municipiosEditar.muni_Id" class="form-control"  type="text" required="" disabled />
            </div>
          </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="update()">Actualizar</button>
            </div>
          </ng-template>

          <ng-template #Delete let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Eliminar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <h3>Desea Eliminar Este Registro?</h3>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="delete()">Eliminar</button>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-outline-primary" (click)="open(Create)">Crear Municipios</button><div class="container">   
          <hr>

          <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
            <table>
              <thead>
                <tr>
                  <td>Elementos:</td>
                  <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                      [(ngModel)]="paginationPageSize">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                  </td>
                </tr>
              </thead>
            </table>
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                  placeholder="Buscar..." />
              </div>
            </div>
          </div>

          
          <ag-grid-angular  class="ag-theme-alpine ag-root-wrapper" [columnDefs]="columnDefs" [pagination]="true"
          [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
          [rowData]="municipios" [rowSelection]="'multiple'" [domLayout]="domLayout"
          [animateRows]="true"></ag-grid-angular>

        
        
      
      </div>
    </div>
  </div>
</div>
</div>
</div>