
<div class="container">
<app-breadcrumb [title]="'Municipio'" [items]="['Generales']" [active_item]="'Municipio'"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <div class="card">
    <div class="card card-border">
          <img class="card-img-top" 
          style="border-top-left-radius: 14px; border-top-right-radius: 14px;" 
          src="../../../../assets//images/equipo/headers/Municipios.png" alt="Card image cap">
  
         
      <div class="card-body">
          <ng-template #Create let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Insertar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
           
            <div class="modal-body">
               <form [formGroup]="createFormGroup"  class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
              <div class="row">
                <div class="col-sm-6">
                  <label>Departamento</label>
                <ng-select [(ngModel)]="municipiosCreate.depa_Id"  formControlName="depa_Id"  bindValue="value" [items]="departamentosDDL" placeholder="Departamento"></ng-select>
                <ng-container class="invalid text-danger"
                *ngIf="createFormGroup.get('depa_Id').hasError('required') && (createFormGroup.get('depa_Id').touched || sumbit)">
                <p class="text-danger">El Departamento es necesario </p></ng-container>
              </div>
                <div class="col-sm-6">
                  <label>Nombre Municipio</label>
              <input [(ngModel)]="municipiosCreate.muni_Nombre" class="form-control" formControlName="muni_Nombre"  type="text" required=""  />
              <ng-container class="invalid text-danger"
                *ngIf="createFormGroup.get('muni_Nombre').hasError('required') && (createFormGroup.get('muni_Nombre').touched || sumbit)">
                <p class="text-danger">El nombre del municipio es necesario</p></ng-container>
            </div>
              <div class="col-sm-6 mt-3">
                <label>Codigo Municipio</label>
                <div class="input-group">
                <span class="input-group-text text-dark">{{ municipiosCreate.depa_Id ? municipiosCreate.depa_Id : '00' }}</span>  
                <input type="text" [(ngModel)]="municipiosCreate.muni_Id" formControlName="muni_Id"  class="form-control" (keydown)="onKeyDown($event)" required="" (paste)="onPaste($event)" maxlength="2">
              </div>
              <ng-container class="invalid text-danger"
                *ngIf="createFormGroup.get('muni_Id').hasError('required') && (createFormGroup.get('muni_Id').touched || sumbit)">
                <p class="text-danger">El codigo del municipio es necesario</p></ng-container>
              </div>
            </div>
            </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="Guardar()">Crear</button>
            </div>  
          </ng-template>
          
          <ng-template #Update let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Actualizar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
             
              <form [formGroup]="updateFormGroup"  class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }"> 
              
              <div class="row">
                
                <div class="col-sm-12 mt-3">
                  <label>Nombre Municipio</label>
              <input [(ngModel)]="municipiosEditar.muni_Nombre" formControlName="muni_Nombre"  class="form-control" id="muni_Nombre" type="text" required=""  />
              <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('muni_Nombre').hasError('required') && (updateFormGroup.get('muni_Nombre').touched || sumbit)">
                <p class="text-danger">El nombre del municipio es necesario</p></ng-container>
              
            </div>
            
          </div>
        </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="update()">Actualizar</button>
            </div>
          </ng-template>

          <ng-template #Delete let-modal>
            <div class="modal-header d-flex justify-content-center">
              <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
            </div>
            <div class="modal-body text-center">
              <h6>Parece que deseas eliminar un registro</h6> <br>
              <h6>¿Estas seguro de esta accion?</h6>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">No</button>
              <button type="button" class="btn btn-danger" (click)="delete()" >Si</button>
            </div>
          </ng-template>
          <div class="container">   

          <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
            <div class="col-3">
              <div class="input-group">
                <table class="form-control d-flex justify-content-center">
                  <thead>
                    <tr>
                      <td>Mostrar</td>
                      <td>
                        <select class="selectPhynomo" name="pageSize" [(ngModel)]="paginationPageSize">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                        </select>
                      </td>
                      <td>elementos</td>
                    </tr>
                  </thead>
                </table>
                <span class="input-group-text"><i style="color: #3c334d; " class="fa fa-list-ol"></i></span>
              </div>
            </div>
            <div class="col-4">

              <button (click)="open(Create)" class="btn btn-block btn-primary">
                + Nuevo
              </button>
            </div>
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                  placeholder="Buscar..." />
              </div>
            </div>
          </div>

          
          <ag-grid-angular  class="ag-theme-alpine ag-root-wrapper" [columnDefs]="columnDefs" [pagination]="true"
          [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
          [rowData]="municipios" [rowSelection]="'multiple'" [domLayout]="domLayout"
          [animateRows]="true"></ag-grid-angular>

        
        
      
      </div>
    </div>
  </div>
</div>
</div>
</div>