<div class="container">
  <app-breadcrumb [title]="'Metodos de pago'" [items]="['General']" [active_item]="'Metodos De Pago'"></app-breadcrumb>
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card card-border">
          <img class="card-img-top" 
          style="border-top-left-radius: 14px; border-top-right-radius: 14px;" 
          src="../../../../assets//images/equipo/headers/MetodosDePago.png" alt="Card image cap">
  
          <div class="card-body">
            <div class="d-flex justify-content-between mb-2 ">
              <div class="col-3">
                <div class="input-group">
                  <table class="form-control d-flex justify-content-center">
                    <thead>
                      <tr>
                        <td>Mostrar</td>
                        <td>
                          <select class="selectPhynomo" name="pageSize" [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                        <td>elementos</td>
                      </tr>
                    </thead>
                  </table>
                  <span class="input-group-text"><i style="color: #3c334d; " class="fa fa-list-ol"></i></span>
                </div>
              </div>
              <div class="col-4">
                <button (click)="OpenModalCreate()" class="btn btn-block btn-primary">
                  + Nuevo
                </button>
              </div>
              <div class="col-3">
                <div class="input-group" style="height:100%;">
                  <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                  <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                    placeholder="Buscar..." />
                </div>
              </div>
            </div>

          <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs" [pagination]="true"
            [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
            [rowData]="metodosDePago" [rowSelection]="'multiple'" [domLayout]="domLayout"
            [animateRows]="true"></ag-grid-angular>
          <!-- (cellClicked)="onCellClicked($event)" -->


        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #delete let-c="close" let-d="dismiss" class="text-center">
  <div class="modal-header d-flex justify-content-center">
    <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
  </div>
  <div class="modal-body text-center">
    <h6>Parece que deseas eliminar un registro</h6> <br>
    <h6>¿Estas seguro de esta accion?</h6>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-dark" (click)="closeModal()">No</button>
    <button type="button" class="btn btn-danger" (click)="EliminarMetodo()" >Si</button>
  </div>
</ng-template>


<form [formGroup]="EditGroup">
  <ng-template #edit let-c="close" let-d="dismiss" class="">
    <div class="modal-header d-flex justify-content-center">
      <h4 class="modal-title" id="modal-basic-title">Editar</h4>
    </div>
    <div class="modal-body ">
      <div class="form-group">
        <label for="">Metodo de pago</label>
        <input type="text" [(ngModel)]="metoPago.meto_Descripcion" name="meto_Descripcion" formControlName="meto_Descripcion" class="form-control">
        <ng-container class="invalid text-danger"
        *ngIf="EditGroup.get('meto_Descripcion').hasError('required') && (EditGroup.get('meto_Descripcion').touched || sumit)">
        <p class="text-danger">El campo es necesario</p></ng-container>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-dark" (click)="closeModal()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="EditarMetodo()" >Guardar</button>
  </div>
</ng-template>
</form>

<form [formGroup]="CreateGroup">
  <ng-template #create let-c="close" let-d="dismiss" class="">
    <div class="modal-header d-flex justify-content-center">
      <h4 class="modal-title" id="modal-basic-title">Crear</h4>
    </div>
    <div class="modal-body ">
      <div class="form-group">
        <label for="">Metodo de pago</label>
        <input type="text" [(ngModel)]="metoPago.meto_Descripcion" name="meto_Descripcion" id="meto_Descripcion" formControlName="meto_Descripcion" class="form-control">
        <ng-container class="invalid text-danger"
        *ngIf="CreateGroup.get('meto_Descripcion').hasError('required') && (CreateGroup.get('meto_Descripcion').touched || sumit)">
        <p class="text-danger">El campo es necesario</p></ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="closeModal()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="CrearMetodo()" >Guardar</button>
  </div>
</ng-template>
</form>