<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
<h3>Esquemas:</h3>
<div *ngFor="let esquema of esquemas">
  <label>
    <input type="checkbox" [checked]="isSelectedEsquema(esquema)" (change)="toggleEsquema(esquema, $event)">
    {{ esquema }}
  </label>
</div>

<h3>Pantallas:</h3>
<div *ngFor="let esquema of esquemas; let esquemaIndex = index">
  <div *ngFor="let pantalla of pantallas[esquemaIndex]; let pantallaIndex = index">
    <label>
      <input type="checkbox" [checked]="isSelectedPantalla(esquemaIndex, pantallaIndex)" (change)="togglePantalla(esquemaIndex, pantallaIndex)">
      {{ pantalla }}
    </label>
  </div>
</div>
</div>
<div class="col-sm-2">

  <button (click)="deselectAll()">Deseleccionar todo</button>

  <h3>Selección actual:</h3>
  <p>Esquemas seleccionados: {{ selectedEsquemas }}</p>
  <p>Pantallas seleccionadas: {{ selectedPantallas }}</p>
</div>
</div>