<app-breadcrumb [title]="'Pagination'" [items]="['Bonus UI', 'Base']" [active_item]="'Pagination'"></app-breadcrumb>
 
<div class="container-fluid pagination-page">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Pagination</h5>
        </div>
        <div class="card-body">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-primary">
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Pagination with icons</h5>
        </div>
        <div class="card-body">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-primary">
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h5>Pagination alignment</h5>
        </div>
        <div class="card-body">
          <ng-container *ngFor="let p of paginationSide">            
            <nav class="m-b-30" aria-label="Page navigation example">
              <ul class="pagination justify-content-{{p}} pagination-primary">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
              </ul>
            </nav>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h5>Pagination with active and disabled</h5>
        </div>
        <div class="card-body">
          <nav aria-label="...">
            <ul class="pagination pagination-primary">
              <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item active"><a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h5>Pagination Color</h5>
        </div>
        <div class="card-body">
         <ng-container *ngFor="let p of pagination">
           <nav class="m-b-30" aria-label="Page navigation example">
             <ul class="pagination pagination-{{p}}">
               <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
             </ul>
           </nav>
         </ng-container>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h5>Pagination sizing</h5>
        </div>
        <div class="card-body">
          <nav class="m-b-30" aria-label="Page navigation example">
            <ul class="pagination pagination-lg pagination-primary">
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
          </nav>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm pagination-primary">
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>