<div class="container">
    <app-breadcrumb [title]="'Ingresar un nuevo Cliente'" [items]="['Fletes']"
        [active_item]="'Clientes'"></app-breadcrumb>
    <div class="row widget-grid">
        <div class="col-sm-12">

            <div class="card card-border">
                <img class="card-img-top" style="border-top-left-radius: 14px; border-top-right-radius: 14px;"
                    src="../../../../../assets/images/equipo/headers/editar-headers/EditarClientes.png"
                    alt="Card image cap">
                    <form [formGroup]="CreateGroup">
                        
                        <div class="card-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="NombresVal">Nombres</label>
                                <input formControlName="clie_Nombres" class="form-control" id="NombresVal" type="text"
                                    placeholder="Nombres" required="" onlyAlphabets />
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_Nombres').hasError('required') && (CreateGroup.get('clie_Nombres').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="ApeVal">Apellidos</label>
                                <input formControlName="clie_Apellidos" class="form-control" id="ApeVal" type="text"
                                    placeholder="Apellidos" required="" onlyAlphabets />
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_Apellidos').hasError('required') && (CreateGroup.get('clie_Apellidos').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="identVal">Identidad</label>
                                <input formControlName="clie_Identidad" class="form-control" id="IdentidadInput"
                                    type="text" placeholder="0000-0000-00000" required="" />
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_Identidad').hasError('required') && (CreateGroup.get('clie_Identidad').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="FechaVal">Fecha de nacimiento</label>
                                <input formControlName="clie_FechaNacimiento" class="form-control" id="FechaVal"
                                    type="date" required="" />
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_FechaNacimiento').hasError('required') && (CreateGroup.get('clie_FechaNacimiento').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="SexoVal">Sexo</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="radio radio-primary">
                                            <input class="form-check-input" id="radio44" type="radio"
                                                formControlName="clie_Sexo" name="clie_Sexo" value="F" />
                                            <label class="form-check-label" for="radio44">Femenino</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="radio radio-primary">
                                            <input class="form-check-input" id="radio33" type="radio"
                                                formControlName="clie_Sexo" name="clie_Sexo" value="M" />
                                            <label class="form-check-label" for="radio33">Masculino</label>
                                        </div>
                                    </div>
                                </div>
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_Sexo').hasError('required') && (CreateGroup.get('clie_Sexo').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Estado Civil</label>
                                <ng-select [items]="EstadosCiDDL" bindLabel="eciv_Descripcion" bindValue="eciv_Id" formControlName="eciv_Id" placeholder="Select"
                                    class="js-example-placeholder-multiple"></ng-select>
                                    <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('eciv_Id').hasError('required') && (CreateGroup.get('eciv_Id').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="TelVal">Telefono</label>
                                <input formControlName="clie_Telefono" class="form-control" id="tuInput"
                                    placeholder="+(000) 0000-0000" required="" />
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_Telefono').hasError('required') && (CreateGroup.get('clie_Telefono').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Municipio</label>
                                <ng-select [items]="municipiosDDL" bindLabel="muni_Nombre" bindValue="muni_Id" groupBy="depa_Nombre" formControlName="muni_Id" placeholder="Seleccione un Municipio"
                                    class="js-example-placeholder-multiple"></ng-select>
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('muni_Id').hasError('required') && (CreateGroup.get('muni_Id').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label" for="DirecVal">Direccion exacta</label>
                                <input formControlName="clie_DireccionExacta" class="form-control" id="DirecVal"
                                    type="text" required="" />
                                <ng-container class="invalid text-danger"
                                    *ngIf="CreateGroup.get('clie_DireccionExacta').hasError('required') && (CreateGroup.get('clie_DireccionExacta').touched || sumit)">
                                    <p class="text-danger">El campo es necesario</p>
                                </ng-container>
                            </div>
                        </div><br>

                        <div class="row d-flex justify-content-end">
                            <div class="col-4 d-flex justify-content-end">
                                <button type="button" class="btn mx-2 btn-dark btn-block" (click)="Regresar()">Regresar</button>
                                <button class="btn btn-primary btn-block" (click)="Guardar()">Guardar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>