<app-breadcrumb [title]="'Orders'" [items]="['Apps', 'Ecommerce']" [active_item]="'Orders'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>New Orders</h5>
        </div>
        <div class="card-body">
          <div class="row g-sm-4 g-3">
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">                                 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-6.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Flower Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-5.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Jeans Jacket</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-4.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Red Skirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-3.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Brown Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-2.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Red Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-1.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Men's Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-1.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Men's Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">                                 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-6.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Flower Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-5.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Jeans Jacket</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-primary btn-xs" href="javascript:void(0);">Processing</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Shipped Orders</h5>
        </div>
        <div class="card-body">
          <div class="row g-sm-4 g-3">
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">                                 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-6.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Flower Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-5.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Jeans Jacket</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-4.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Red Skirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-3.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Brown Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-3.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Brown Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-2.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Red Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">                                 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-6.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Flower Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-5.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Jeans Jacket</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close">   </i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-1.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Men's Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-success btn-xs" href="javascript:void(0);">Shipped</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Cancelled Orders</h5>
        </div>
        <div class="card-body">
          <div class="row g-sm-4 g-3">
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">                                 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-6.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Flower Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-5.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Jeans Jacket</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-4.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Red Skirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-3.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Brown Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-2.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Red Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-1.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Men's Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-1.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Men's Shirt</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">                                 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-6.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Flower Dress</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box"> 
                <div class="media"><img class="align-self-center img-fluid img-60" src="assets/images/ecommerce/product-table-5.png" alt="#">
                  <div class="media-body ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0);">Jeans Jacket</a></h6>
                    </div>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="price d-flex"> 
                      <div class="text-muted me-2">Price</div>: 210$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">In stock</div>
                    </div><a class="btn btn-danger btn-xs" href="javascript:void(0);">Cancelled</a><i class="btn-close" data-feather="x" class="feather feather-x close"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Orders History</h5>
        </div>
        <div class="card-body">
          <div class="order-history table-responsive custom-datatable product-list-custom">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Img</th>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Color</th>
                <th scope="col">Artical No</th>
                <th scope="col">Unit</th>
                <th scope="col">Price</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of OrderHistory; index as i">
                <th scope="row">
                  <img [src]="product.img" class="me-2" style="width: 32px">
                </th>
                <td>
                  {{ product.name }}
                </td>
                <td>{{ product.size }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.articleNo }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.price }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->