
<app-breadcrumb [title]="'Create Roles'" [items]="['Flet']" [active_item]="'Items'"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h3>Nuevo Rol</h3>
        </div>
      </div>
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <div class="row">
            <div class="col-sm-12">
              <input [(ngModel)]="createRol.role_Nombre" class="form-control" id="validationCustom01" type="text" required=""  >
            </div>
            
            <div class="col-sm-6">
              <ng-multiselect-dropdown
              [placeholder]="'custom placeholder'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
          </div>
          
          <button (click)="Create()" class="btn btn-primary">Aver</button>
        </form>
      </div>
    </div>
  </div>
</div>
 
