<app-breadcrumb [title]="'Inicio'" [items]="['Dashboard']" [active_item]="'Inicio'"></app-breadcrumb>
<div class="container">
  <div class="row widget-grid">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <p class="h1 txt-primary text-center"> <img style="height: 100px;" src="../../../../assets/images/logo/log1.png" alt=""> </p>
        </div>
        <div class="card-body">
              <owl-carousel-o [options]="owlcarousel13Options">
                  <ng-template carouselSlide class="item" [id]="img.id" *ngFor="let img of owlcarousel1">
                    <img [src]="[img.img]" alt="">
                  </ng-template>
              </owl-carousel-o>
              
        </div>
        <div class="card-footer">
        <div class="row">
          <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <div class="text-center">
            <p class="h4 txt-primary">¿Quiénes somos?</p>
            <br>
          </div>
          <div class="justificar">
            <p>Por más de 30 años JEDI se ha dedicado a cubrir eficientemente las necesidades de manejo de paquetes y logística en general en la región, el fruto de esta labor es la confianza que nuestros clientes depositan en nosotros.
              El entender su negocio y la importancia de cumplir en brindar un servicio de excelente calidad, garantizando recolección y entrega en el lugar y hora que el cliente necesita, es la forma en que pagamos esta confianza.
            </p>
          </div>
          </div>
          <div class="col-sm-6">
            <img src="../../../../assets/images/dashboard/camion.png" width="450">
        </div>
      </div>
      <br>
    </div>
      <div class="card-footer">
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../../assets/images/dashboard/question.png" width="450">
      </div>
        <div class="col-sm-5">
          <div class="text-center">
            <p class="h4 txt-primary">¿Por qué elegirnos?</p>
            <br>
          </div>
          <div class="justificar">
            <p>
              Contamos con experiencia de más de 50 años en la administración de valores, seguridad, logística y paquetería. Somos una corporación líder que brinda servicios innovadores, eficientes y de alta calidad.
              El compromiso, la confianza y la responsabilidad son elementos que han marcado nuestra trayectoria. En la actualidad contamos con más de 13,000 colaboradores, y operaciones en Centroamérica, Panamá y Estados Unidos.
            </p>
          </div>
          </div>
      </div>
    </div>
  
  </div>
</div>
<div class="col-sm-12 col-xl-6 xl-100">
  <div class="card">
    
    <div class="card-header">
      <h5>Grafica filtrada de trayectos </h5>
    </div>
    <div class="card-body">
      
<form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
  <div class="row">
    
  <form [formGroup]="firstFormGroup">     
    <div class="col-6">
<div class="custom-datepicker custom-datepicker-dropdown">
    
    <div class="col-form-label">Fecha Inicio</div>
    <input  class="datepicker-here form-control digits text-dark"
            formControlName="flet_Inicio"
            [(ngModel)]="graficaEnvio.flet_Inicio"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"  
            (click)="d.toggle()"
            [minDate]="getToday()">
  </div>
  <ng-container class="invalid text-danger"
  *ngIf="firstFormGroup.get('flet_Inicio').hasError('required') && firstFormGroup.get('flet_Inicio').touched">
  <p class="text-danger">La fecha de salida es necesaria</p></ng-container>
</div>
<div class="col-6" >
<div class="custom-datepicker custom-datepicker-dropdown">
  
    <div class="col-form-label">Fecha Fin</div>
    <input  class="datepicker-here form-control digits text-dark"
            formControlName="flet_Fin"
            [(ngModel)]="graficaEnvio.flet_Fin"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
            [minDate]="getToday()">
  </div>
  
  <ng-container class="invalid text-danger"
  *ngIf="firstFormGroup.get('flet_Fin').hasError('required') && firstFormGroup.get('flet_Fin').touched">
  <p class="text-danger">La fecha de salida es necesaria</p></ng-container>
</div>
</form> 
<div class="col-sm-6">
  <div class="form-group">
    <label>Departamento Id </label>
<ng-select [(ngModel)]="graficaEnvio.depa_Id" bindValue="value" [items]="departamentosDDL" placeholder="Departamento" required=""></ng-select>
</div>
</div> 
<div class="col-sm-6 mt-4">
  <div class="form-group">
    <button class="btn btn-primary" (click)="Filtrar()">Filtrar</button>
  </div>
</div>
</div>
       
</form>
      <div id="basic-bar">
        <apx-chart [series]="ChartOptions.series" [chart]="ChartOptions.chart" [dataLabels]="ChartOptions.dataLabels"
          [plotOptions]="ChartOptions.plotOptions" [xaxis]="ChartOptions.xaxis" [colors]="ChartOptions.colors"></apx-chart>
      </div>
    </div>
  </div>
</div>
</div>
