.icon-container {
    display: inline-block;
    padding: 5px;
    background-color: #eaeaea;
    cursor: pointer;
  }
  
  .icon-container:hover {
    background-color: #ccc;
  }

  
  .color-success{
    color: green;
    background-color: red;
  }