<app-breadcrumb [title]="'Fletes listado'" [items]="['Flet']" [active_item]="'Fletes'"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <div class="text-center">
          <h3 style="color: azure;">Listar Categorias</h3>
        </div>
      </div>
      <div class="card-body">
        <table  class="table">
          <thead>
              <tr>
                <th>Id</th>
                <th>Cargos</th>
                <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cargos">
              <td>{{item.carg_Id}}</td>
              <td>{{item.carg_Descripcion}}</td>
              <td>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
