<div class="container">
  <app-breadcrumb [title]="'Fletes listado'" [items]="['Flet']" [active_item]="'Fletes'"></app-breadcrumb>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="text-center">
            <h3>Listado de fletes</h3>
          </div>
        </div>
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Pendientes</a>
              <ng-template ngbNavContent>
                <!-- app.component.html -->

                <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                  <table>
                    <thead>
                      <tr>
                        <td>Elementos:</td>
                        <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                            [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                      <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                        placeholder="Buscar..." />
                    </div>
                  </div>
                </div>

                <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs" [pagination]="true"
                  [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
                  [rowData]="fletesPendiente" [rowSelection]="'multiple'" [domLayout]="domLayout"
                  [animateRows]="true"></ag-grid-angular>
                <!-- (cellClicked)="onCellClicked($event)" -->

              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>En proceso</a>
              <ng-template ngbNavContent>

                <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                  <table>
                    <thead>
                      <tr>
                        <td>Elementos:</td>
                        <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                            [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                      <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                        placeholder="Buscar..." />
                    </div>
                  </div>
                </div>

                <ag-grid-angular style="width: 100%; height: 500px; border-radius: 15px;" class="ag-theme-alpine"
                  [columnDefs]="columnDefsEnProceso" [pagination]="true" [paginationPageSize]="paginationPageSize"
                  [defaultColDef]="defaultColDef" [localeText]="idioma" [rowData]="fletesEnProceso"
                  [domLayout]="domLayout" [rowSelection]="'multiple'" [animateRows]="true"></ag-grid-angular>
                 
                <!-- (cellClicked)="onCellClicked($event)" -->

              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Terminados</a>
              <ng-template ngbNavContent>

                <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
                  <table>
                    <thead>
                      <tr>
                        <td>Elementos:</td>
                        <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                            [(ngModel)]="paginationPageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                      <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                        placeholder="Buscar..." />
                    </div>
                  </div>
                </div>

                <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-alpine"
                  [columnDefs]="columnDefsTerminado" [pagination]="true" [paginationPageSize]="paginationPageSize"
                  [defaultColDef]="defaultColDef" [localeText]="idioma" [rowData]="fletesTerminado"
                  [domLayout]="domLayout" [rowSelection]="'multiple'" [animateRows]="true"></ag-grid-angular>
                <!-- (cellClicked)="onCellClicked($event)" -->

              </ng-template>
            </li>
            <li [ngbNavItem]="4" style="margin-left: auto;">
              <button class="btn btn-success" style="width: 100%;" type="button" (click)="redirectToCreate()">Crear un
                flete</button>
              <ng-template ngbNavContent>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="updateDate">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Actualizar fecha de salida</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body custom-datepicker custom-datepicker-dropdown">
      <div class="form-group">
        <div class="col-form-label">Fecha de salida</div>
        <input class="datepicker-here form-control digits text-dark" formControlName="flet_FechaDeSalida" ngbDatepicker
          #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" [ngModel]="flet_FechaDeSalida"
          (click)="d.toggle()">

        <ng-container class="invalid text-danger"
          *ngIf="updateDate.get('flet_FechaDeSalida').hasError('required') && updateDate.get('flet_FechaDeSalida').touched">
          <p class="text-danger">La fecha de salida es necesaria</p>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="printFechas()">Save</button> -->
      <button class="btn btn-primary pull-right" (click)="printFechas()" type="button"
        [disabled]="!updateDate.valid">Guardar</button>
      <button class="btn btn-dark pull-right" (click)="modal.dismiss('Cross click')" type="button">Cerrar</button>
    </div>
  </form>
</ng-template>