<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <div>
          <div>
            <a class="logo" routerLink="/">
              <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage" />
              <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage" />
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form" [ngClass]="{ 'ng-submitted': submitted, 'needs-validation': submitted }" (ngSubmit)="onLoggedin($event)">
              <h4>Iniciar sesión</h4>
              <p>ingresa tu usuario y contraseña</p>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="exampleInputEmail1" #requried="ngModel" required placeholder="Nombre de usuario"
                  [(ngModel)]="usuario" name="usuario" [ngClass]="{ 'is-invalid': submitted && requried?.invalid }">
                <div class="invalid-feedback" *ngIf="requried?.errors?.required && submitted">Nombre de usuario requerido</div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" #contra="ngModel" required autocomplete="current-password"
                  placeholder="Contraseña" name="password" [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && contra?.invalid }">
                <div class="invalid-feedback" *ngIf="contra?.errors?.required && submitted">Contraseña requerida</div>
              </div>
              <div class="text-end mt-3">
                <button class="btn btn-primary d-block w-100" type="submit"><span>Iniciar sesión</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
