
<app-breadcrumb [title]="'Items listado'" [items]="['Flet']" [active_item]="'Items'"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h3>Listado de Vehiculos</h3>
        </div>
      </div>
      <div class="card-body">
          <ng-template #Create let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Insertar Vehiculo</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
           
            <div class="modal-body">
            <form [formGroup]="createFormGroup" class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Modelo</label>
                <ng-select [(ngModel)]="vehiculosCreate.mode_Id"  formControlName="mode_Id"  bindValue="value" [items]="modelosDDL" placeholder="Vehiculo" required=""></ng-select>
                <ng-container class="invalid text-danger"
                *ngIf="createFormGroup.get('mode_Id').hasError('required') && (createFormGroup.get('mode_Id').touched || sumbit)">
                <p class="text-danger">El modelo del vehiculo es necesario</p></ng-container>
              </div>
              </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Peso Maximo</label>
              <input [(ngModel)]="vehiculosCreate.vehi_PesoMaximo" class="form-control"  formControlName="vehi_PesoMaximo"  type="text" (keydown)="onKeyDown($event)" required=""/>
              <ng-container class="invalid text-danger"
              *ngIf="createFormGroup.get('vehi_PesoMaximo').hasError('required') && (createFormGroup.get('vehi_PesoMaximo').touched || sumbit)" >
              <p class="text-danger">El peso del vehiculo es necesario</p></ng-container>
            </div>
                  </div>
            <div class="col-sm-6 mt-3">
              <div class="form-group">
                <label>Volumen Maximo</label>
              <input [(ngModel)]="vehiculosCreate.vehi_VolumenMaximo" class="form-control"  formControlName="vehi_VolumenMaximo" type="text" (keydown)="onKeyDown($event)" required=""/>
              <ng-container class="invalid text-danger"
              *ngIf="createFormGroup.get('vehi_VolumenMaximo').hasError('required') && (createFormGroup.get('vehi_VolumenMaximo').touched || sumbit)">
              <p class="text-danger">El volumen del vehiculo es necesario</p></ng-container>
            </div></div>
            <div class="col-sm-6  mt-3">
              <div class="form-group">
                <label>Placa</label>
              <input type="text" [(ngModel)]="vehiculosCreate.vehi_Placa" formControlName="vehi_Placa"  class="form-control" required="" >
              <ng-container class="invalid text-danger"
                *ngIf="createFormGroup.get('vehi_Placa').hasError('required') && (createFormGroup.get('vehi_Placa').touched || sumbit)">
                <p class="text-danger">La placa del vehiculo es necesario</p></ng-container>
              </div>
            </div>   
          </div>
                   
          </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="Guardar()">Guardar</button>
            </div>  
          </ng-template>
          
          <ng-template #Update let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Actualizar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="updateFormGroup" class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
                <div class="row">
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Modelo</label>
                  <ng-select [(ngModel)]="vehiculosEditar.mode_Id" formControlName="mode_Id" bindValue="value" [items]="modelosDDL" placeholder="Vehiculo"></ng-select>            
                <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('mode_Id').hasError('required') && (updateFormGroup.get('mode_Id').touched || sumbit)">
                <p class="text-danger">El modelo del vehiculo es necesario</p></ng-container>
                </div>
                </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Peso Maximo</label>
                <input [(ngModel)]="vehiculosEditar.vehi_PesoMaximo" formControlName="vehi_PesoMaximo" class="form-control" name="vehi_PesoMaximo"(keydown)="onKeyDown($event)"  id="vehi_PesoMaximo" type="text" required=""/>
                <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('vehi_PesoMaximo').hasError('required') && (updateFormGroup.get('vehi_PesoMaximo').touched || sumbit)">
                <p class="text-danger">El peso del vehiculo es necesario</p></ng-container>
                
              </div></div>
              <div class="col-sm-6 mt-3">
                <div class="form-group">
                  <label>Volumen Maximo</label> 
                <input [(ngModel)]="vehiculosEditar.vehi_VolumenMaximo" formControlName="vehi_PesoMaximo"  class="form-control" name="vehi_VolumenMaximo" (keydown)="onKeyDown($event)"  id="vehi_VolumenMaximo" type="text"required=""/>
                <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('vehi_VolumenMaximo').hasError('required') && (updateFormGroup.get('vehi_VolumenMaximo').touched || sumbit)">
                <p class="text-danger">El volumen del vehiculo es necesario</p></ng-container>
              </div>
            </div>
              <div class="col-sm-6  mt-3">
                <div class="form-group">
                  <label>Placa</label>
                <input type="text" [(ngModel)]="vehiculosEditar.vehi_Placa" formControlName="vehi_Placa"  class="form-control"  name="vehi_Placa" id="vehi_Placa" required="" >
                <ng-container class="invalid text-danger"
                *ngIf="updateFormGroup.get('vehi_Placa').hasError('required') && (updateFormGroup.get('vehi_Placa').touched || sumbit)">
                <p class="text-danger">La placa del vehiculo es necesario</p></ng-container>
                </div>
              </div>     
            </div>
                     
            </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="update()">Actualizar</button>
            </div>
          </ng-template>

          <ng-template #Delete let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Eliminar Municipios</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <h3>Desea Eliminar Este Registro?</h3>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="delete()">Eliminar</button>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-primary" (click)="open(Create)">+ Nuevo</button>
          <hr>
        <div class="d-flex justify-content-between mb-2 mx-1">
          <select class="form-select" style="color: #3c334d; width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="5">5 </option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
          <div class="col-4">
            <div class="input-group">
              <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
              <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange(searchText)" placeholder="Buscar..." />
            </div>
          </div>
        </div>
          
        <div class="row mt-3">
          <div class="col-12">
            <div class="custom-datatable noscroll">
              <div class="custom-datatable table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" sortable="vehi_Id" (sort)="onSort($event)">Id</th>
                      <th scope="col" sortable="mode_Nombre" (sort)="onSort($event)">Nombre Modelo</th>
                      <th scope="col" sortable="vehi_PesoMaximo" (sort)="onSort($event)">Peso Maximo</th>
                      <th scope="col" sortable="vehi_VolumenMaximo" (sort)="onSort($event)">Volumen Maximo</th>
                      <th scope="col" sortable="tipv_Descripcion" (sort)="onSort($event)">Tipo Vehiculo</th>
                      <th scope="col" sortable="marc_Nombre" (sort)="onSort($event)">Marca</th>
                      <th scope="col" sortable="vehi_Placa" (sort)="onSort($event)">Placa</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableItem$ | async">
                        <td>
                        <ngb-highlight [result]="item.vehi_Id" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.mode_Nombre" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.vehi_PesoMaximo" [term]="service.searchTerm"></ngb-highlight>
                      </td>  <td>
                        <ngb-highlight [result]="item.vehi_VolumenMaximo" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.tipv_Descripcion" [term]="service.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.vehi_Placa" [term]="service.searchTerm"></ngb-highlight>
                      </td>  
                      <td>
                        <ngb-highlight [result]="item.marc_Nombre" [term]="service.searchTerm"></ngb-highlight>
                      </td>  
                      <td>
                        <div class="action">
                          <li class="edit" (click)="Actualizar(item, Update)">
                            <a ><i class="icon-pencil-alt"></i></a>
                          </li>
                          <li class="delete" (click)="Eliminar(item, Delete)">
                            <a ><i class="icon-trash"></i></a>
                          </li>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between mt-3 mb-2 mx-1">
                  <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                  </select>
                  <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      
      </div>
    </div>
  </div>
</div>
