<div class="container">
  <app-breadcrumb [title]="'Estados Civiles'" [items]="['Generales']" [active_item]="'Estados Civiles'"></app-breadcrumb>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="text-center">
            <h3>Listado de Estados Civiles</h3>
          </div>
        </div>
        <div class="card-body">
          <form  [formGroup]="createFormGroup" class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <ng-template #Create let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Insertar Estado Civil</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>  
            <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
            <div class="modal-body">
              <label class="form-label" for="validationCustom01">Estado Civil</label>
              <input [(ngModel)]="estadosCreate.eciv_Descripcion"  class="form-control" id="validationCustom01" type="text" required="" />
              <ng-container class="invalid text-danger"
              *ngIf="createFormGroup.get('eciv_Descripcion').hasError('required') && (createFormGroup.get('eciv_Descripcion').touched || sumbit)">
              <p class="text-danger">El Estado Civil es necesario</p></ng-container>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="Guardar()">Crear</button>
            </div>  
          </form>
          </ng-template>
        </form>
          <ng-template #Update let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Actualizar Estado Civil</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="updateFormGroup" class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
            <div class="modal-body">
              <label class="form-label" for="validationCustom01">Estado Civil</label>
              <input [(ngModel)]="estadosEditar.eciv_Descripcion" formControlName="eciv_Descripcion" class="form-control" id="validationCustom01" type="text" required="" />
              <ng-container class="invalid text-danger"
              *ngIf="updateFormGroup.get('eciv_Descripcion').hasError('required') && (updateFormGroup.get('eciv_Descripcion').touched && sumbit)">
              <p class="text-danger">El Estado Civil es necesario</p></ng-container>
            </div>
          </form>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="update()">Actualizar</button>
            </div>
          </ng-template>

          <ng-template #Delete let-modal>
            <div class="modal-header d-flex justify-content-center">
              <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
            </div>
            <div class="modal-body text-center">
              <h6>Parece que deseas eliminar un registro</h6> <br>
              <h6>¿Estas seguro de esta accion?</h6>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">No</button>
              <button type="button" class="btn btn-danger" (click)="delete()" >Si</button>
            </div>
          </ng-template>
          <div class="container">
       
          <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
            <div class="col-3">
              <div class="input-group">
                <table class="form-control d-flex justify-content-center">
                  <thead>
                    <tr>
                      <td>Mostrar</td>
                      <td>
                        <select class="selectPhynomo" name="pageSize" [(ngModel)]="paginationPageSize">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                        </select>
                      </td>
                      <td>elementos</td>
                    </tr>
                  </thead>
                </table>
                <span class="input-group-text"><i style="color: #3c334d; " class="fa fa-list-ol"></i></span>
              </div>
            </div>
            <div class="col-4">
          <button (click)="open(Create)" class="btn btn-block btn-primary">
            + Nuevo
          </button>
        </div>
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                  placeholder="Buscar..." />
              </div>
            </div>
          </div>

          
          <ag-grid-angular  class="ag-theme-alpine ag-root-wrapper" [columnDefs]="columnDefs" [pagination]="true"
          [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
          [rowData]="estadosCiviles" [rowSelection]="'multiple'" [domLayout]="domLayout"
          [animateRows]="true"></ag-grid-angular>

        
          
        </div>
        </div>
      </div>
    </div>
  </div>

     
</div>
