<div class="container">
  <app-breadcrumb [title]="'Estados Civiles'" [items]="['Generales']" [active_item]="'Estados Civiles'"></app-breadcrumb>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="text-center">
            <h3>Listado de Estados Civiles</h3>
          </div>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <ng-template #Create let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Insertar Estado Civil</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>  
            <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">    
            <div class="modal-body">
              <label class="form-label" for="validationCustom01">Estado Civil</label>
              <input [(ngModel)]="estadosCreate.eciv_Descripcion" class="form-control" id="validationCustom01" type="text" required="" />
              
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="Guardar()">Crear</button>
            </div>  
          </form>
          </ng-template>
        </form>
          <ng-template #Update let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Actualizar Estado Civil</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
            <div class="modal-body">
              <label class="form-label" for="validationCustom01">Estado Civil</label>
              <input [(ngModel)]="estadosEditar.eciv_Descripcion" class="form-control" id="validationCustom01" type="text" required="" />

            </div>
          </form>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="update()">Actualizar</button>
            </div>
          </ng-template>

          <ng-template #Delete let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Eliminar Estado Civil</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
             <h3>Desea Eliminar Este Registro?</h3>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="delete()">Eliminar</button>
            </div>
          </ng-template>
          
         
          <button (click)="open(Create)" class="btn btn-block btn-primary">
            + Nuevo
          </button>
       
          <div class="d-flex justify-content-between mb-2 mx-1 mt-4">
            <table>
              <thead>
                <tr>
                  <td>Elementos:</td>
                  <td> <select class="form-control" style="color: #3c334d; width: auto" name="pageSize"
                      [(ngModel)]="paginationPageSize">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                  </td>
                </tr>
              </thead>
            </table>
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-text"><i style="color: #3c334d;" class="fa fa-search"></i></span>
                <input class="form-control" type="text" [(ngModel)]="searchText" (input)="onSearchInputChange()"
                  placeholder="Buscar..." />
              </div>
            </div>
          </div>

          
          <ag-grid-angular  class="ag-theme-alpine ag-root-wrapper" [columnDefs]="columnDefs" [pagination]="true"
          [paginationPageSize]="paginationPageSize" [defaultColDef]="defaultColDef" [localeText]="idioma"
          [rowData]="estadosCiviles" [rowSelection]="'multiple'" [domLayout]="domLayout"
          [animateRows]="true"></ag-grid-angular>

        
          
        
        </div>
      </div>
    </div>
  </div>

     
</div>
