<div class="container">
  <app-breadcrumb [title]="'Listado de Pedidos'" [items]="['Fletes']" [active_item]="'Pedidos'"></app-breadcrumb>
    <div class="row widget-grid">
      <div class="col-sm-12">
  
        <div class="card card-border">
          <img class="card-img-top" style="border-top-left-radius: 14px; border-top-right-radius: 14px;" src="../../../../assets//images/equipo/headers/Pedidos.png" alt="Card image cap">
  
        <div class="card-body">
        <button (click)="Nuevo()" class="btn btn-primary">+ Nuevo</button>
        <br><br>
        <div class="table-responsive">
            <table datatable class="table" style="color: darkslateblue;">
                <thead>
                    <tr>
                      <th>Pedido Id</th>
                      <th>Cliente</th>
                      <th>Origen</th>
                      <th>Destino</th>
                      <th>Dirección de entrega</th>
                      <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pedidos">
                    <td>{{item.pedi_Id}}</td>
                    <td>{{item.clie_NombreCompleto}}</td>
                    <td>{{item.pedi_OrigenNombre}}</td>
                    <td>{{item.pedi_DestinoNombre}}</td>
                    <td>{{item.pedi_DestinoFinal}}</td>
                    <td>
                      <li class="edit">
                        <a href="#"><i class="icon-pencil-alt"></i></a>
                      </li>
                      <li class="delete">
                        <a href="#"><i class="icon-trash"></i></a>
                      </li>
                    </td>
                  </tr>
      
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

